.App {
  text-align: center;
}


.spinner {
  width: 60px;
  height: 60px;
  margin: 5% 10% 3% 47.25%;
  animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

/* .loading {
  padding-left: 47.5%;
} */
.image {
  float: left;
  margin-left: 40%;
  color: #9b59b6;
}

.sel {
  color: grey;
}

.info {
  float: left;
  margin-left: 3%;
  text-align: left;
}

.desc {
  float: left;
  clear: both;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
}

.bg {

  color: goldenrod;
}

.search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 30px;
  background: white;
  border: 1px solid gray;
  border-radius: 20px;
}

.content {
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

input {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  height: 100%;
  background: transparent;
}

hr {
  background-color: lightblue; height: 1px; width: 40%;border: 0;
}

.search-book{
  margin-top: 1%;
}

.loading-error {
  margin-top: 5%;
  color: red;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
@keyframes background {
  0% {
  background-color: #27ae60;
  }
  50% {
    background-color: #9b59b6;
  }
  100% {
    background-color: #c0392b;
  }
}